body{
	background: linear-gradient(to right,#F4FD66,#9B004C);
}

.container{
	padding-top: 110px;
}

.box{
	padding: 10px;
	margin-right: 275px;
	margin-left: 275px;
	background-color: white;
	background: linear-gradient(to left,#58CDD8,#1D0975);
	box-shadow: 7px 7px 7px black;
	border-radius: 5px;
	
}

#fst{
padding: 15px;
margin-bottom: 10px;
border-radius: 7px;
}

#fst:hover{
	transition: all 1s;
	transform: scale(1.1);
	box-shadow: 5px 5px 5px black;
}

#lst{
padding: 15px;
margin-bottom: 10px;
border-radius: 7px;
}

#lst:hover{
	transition: all 1s;
	transform: scale(1.1);
	box-shadow: 5px 5px 5px black;
}

#user{
padding: 15px;
margin-bottom: 10px;
border-radius: 7px;
}

#user:hover{
	transition: all 1s;
	transform: scale(1.1);
	box-shadow: 5px 5px 5px black;
}

#pass{
padding: 15px;
margin-bottom: 10px;
border-radius: 7px;
}

#pass:hover{
	transition: all 1s;
	transform: scale(1.1);
	box-shadow: 5px 5px 5px black;
}

#email{
padding: 15px;
margin-bottom: 10px;
border-radius: 7px;
}

#email:hover{
	transition: all 1s;
	transform: scale(1.1);
	box-shadow: 5px 5px 5px black;
}

button{
	padding: 12px;
margin-bottom: 15px;
background-color: rgba(0,255,0,0.7);
border-radius: 7px;
color: white;
text-decoration-color: white;
}

button:hover{
	transition: all 1s;
	transform: scale(1.1);
	box-shadow: 5px 5px 5px black;
}

strong{
	color: black;
	padding: 15px;
}

strong:hover{
	color: white;
	transition: all 1s;
	transform: scale(1.1);
}

h2{
	text-shadow: 1px 1px 1px white;
	font-family: 'Roboto',sans-serif;
}


